(ch-values)=
# 값과 연산자

:::{note} 구글 코랩에서 실행

[Google Colab: 값과 연산](https://colab.research.google.com/github/codingalzi/code-workout-python/blob/master/values.ipynb)에서 
파이썬 코드를 직접 실행할 수 있다.
:::

프로그래밍언어의 핵심 기능 중의 하나가 
바로 컴퓨터에 저장된 값을 조작하는 일이다.
이번 장에서는 가장 많이 활용되는 값의 종류를 소개하고, 
새로운 값을 생성하는 다양한 연산자를 소개한다.

## 값의 종류

변수에 할당해서 저장할 수 있는 대상이 **값**<font size="2">values</font>이다.
파이썬의 대표적인 값은 정수, 부동소수점, 문자열, 부울값, 리스트 등이다.
이외에 튜플, 사전, 파일 등 다양한 값들이 존재하며,
앞으로 다양한 값들을 살펴볼 것이다.

**정수**

`-13798`, `-7`, `0`, `17`, `41`, `87356112` 등 일상적으로 사용되는 정수를 가리킨다.

**부동소수점**

`1.0`, `-9.74`, `3.141592`, `0.0000072172765` 등 유한소수를 프로그래밍 분야에서는
부동소수점이라 부른다.

유한한 것만 다룰 수 있는 컴퓨터 자체의 한계로 인해 컴퓨터는 유리수와 무리수를 포함한 모든 실수를 불완전하게 다룰 수밖에 없다.
따라서 파이썬을 포함하여 모든 프로그래밍 언어는 모두 소수점 이하 적당한 자리까지만 계산된 유한소수만 다룬다.

소수점 이하 몇 자리까지 계산될 것인가는 컴퓨터와 프로그램 환경에 따라 달라진다.
예를 들어, `1/3`이 `0.333333`, `0.333333333`, `0.333333333333` 중에 어떤 값으로 계산될 것인가는 상황에 따라 달라진다.
이런 의미에서 유한소수를
부동소수점<font size='2'>floating points</font>, 
즉 고정되지 않은 유한소수라 부른다.

**문자열**

정수, 부동소수점과 더불어 
`a`, `b`, `c`, ..., 
`ㄱ`, `ㄴ`, `ㄷ`, ...,
`ㅏ`, `ㅑ`, `ㅓ`, `ㅕ`, ..., 
`가`, `나`, `다`, ..., 
`0`, `1`, `2`, ..., 
`!`, `:`, `;`, `_`, `(`, `)`, ... 처럼
컴퓨터 키보드를 이용하여 입력할 수 있는 임의의 문자, 숫자, 기호로 
구성된 문자열도 값이다.
예를 들어, `파이썬 좋아요;-)`, `Hello, World!` 등과 같은 문자열도 값이다.

**부울값**

참과 거짓을 의미하는 `True`와 `False`를 
**부울값**<font size="2">Boolean value</font>
또는 **진릿값**이라 한다.

**리스트**

리스트는 여러 개의 값으로 구성된 목록을 가리키는 값이다.
리스트에 포함된 각각의 값은 **항목**<font size='2'>item</font>이라 부른다.
리스트는 대괄호 `[]` 로 항목들의 목록을 감싸고, 각각의 항목은 쉼표 기호 `,` 로 구분한다. 
예를 들어, 1부터 5까지의 정수로 구성된 리스트를 가리키는 변수
`one2five`를 다음과 같이 정의한다.

In [4]:
one2five = [1, 2, 3, 4, 5]

반면 아래 `name_list` 변수는 6명의 이름, 즉 6개의 문자열로 구성된 리스트를 가리킨다.

In [5]:
name_list = ['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

리스트에 포함된 항목들이 반드시 동일한 종류일 필요는 없다.
예를 들어, 아래 리스트는 김강현의 이름, 전화번호, 나이, 키, 출생지로 구성된 
리스트를 가리키는 `kgh` 변수를 정의한다.
항목중에 이름, 전화번호, 출생지는 문자열, 나이는 정수, 키는 부동소수점이다.

In [6]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']

## 연산, 연산자, 값

**연산**

연산<font size='2'>operation</font>은 일반적으로 정수, 유리수, 실수 등을 대상으로 하는 사칙연산, 거듭제곱, 크기 비교 연산 등을 의미한다.
반면에 컴퓨터 프로그래밍에서는 정수, 부동소수점 이외에 문자열, 리스트 등 보다 다양한 종류의 값들에 대해서도
고유의 연산이 지원된다.

**연산자**

연산자<font size="2">operator</font>는 연산을 위해 사용되는 기호를 가리킨다.
예를 들어, 2에 3을 더하는 연산은 `2 + 3`으로, 3.14에서 2.3을 빼는 연산은 `3.14 - 2.3` 으로 표현한다.
연산 표현식에 사용되는 `+`, `-` 등이 연산자이다.

프로그래밍에서 가장 많이 사용되는 연산자는 다음과 같다.

* 사칙 연산자: `+`, `-`, `*`, `/`
* 거듭제곱 연산자: `**`
* 비교 연산자: `<`, `>`, `<=`, `>=`, `==`

언급된 연산자들이 정수와 부동소수점의 연산에 사용되면 일반적으로 사용되는 연산과 동일하다.
반면에 다른 종류의 값과 함께 사용될 수 있으며, 사용되는 값에 따라 연산이 작동하는 방식이 달라진다.

**값**

정수와 부동소수점을 이용한 사칙연산의 결과가 새로운 정수 또는 부동소수점이듯이
모든 연산의 결과 또한 하나의 값<font size='2'>value</font>이다.
프로그래밍의 핵심은 주어진 값을 이용하여 원하는 새로운 값을 생성하는 복잡하고 다양한 방식과 절차를 묘사하는 과정이다.
여기서는 일반적으로 사용되는 숫자들의 사칙연산과는 다르게 작동하는 기초적이며 매우 중요한 연산 몇 가지를 살펴 본다.

### 비교 연산자

비교 연산은 동치 여부 판단 연산과 크기 비교 연산 두 종류로 나뉜다. 
두 종류의 연산에 사용되는 연산자는 다음과 같다.

| 동치 여부 판단 연산자 | 크기 비교 연산자 |
| :---: | :---: |
| `==` | `<` |
| `!=` | `<=` |
| | `>` |
| | `>=` |

**동치 여부 판단 연산자**

동치 여부 판단 연산은 두 개의 값이 주어졌을 때 두 값이 동일한 값인지 아닌지 여부를 판단할 때 활용하며,
다음 두 가지 방식으로 표현된다.
아래 표에서 `a`와 `b`는 임의의 값을 가리킨다.

| 동치 여부 판단 연산 | 의미 |
| :---: | :--- |
| a == b | a와 b가 동일한 값일 때 `True`로, 서로 다른 값일 때 `False`로 계산 |
| a != b | a와 b가 서로 다른 값일 때 `True`로, 동일한 값일 때 `False`로 계산 |

예를 들어 아래 코드는 4를 4.0으로 나눈 값이 1과 동일한 값인지를 판단한다.
이유는 `4/4.0`이 1.0으로 계산되고, 1과 1.0을 파이썬은 동일하다고 취급하기 때문이다.
따라서 아래 코드는 최종적으로 `True`로 계산된다.

In [ ]:
1 == 4/4.0

True

반면에 다음 동치 여부 판단 코드는 `False`로 계산된다.
이유는 1.1과 `4/4.0`이 의미하는 1.0은 동일한 값이 아니기 때문이다.

In [1]:
1.1 == 4/4.0

False

연산자 `!=`는 주어진 두 값이 서로 다른 값인지 여부를 판단한다. 
따라서 두 값이 다르면 `True`로, 동일하면 `False`로 계산된다.
예를 들어, 1과 2는 서로 다른 값이기에 아래 코드는 `True`로 계산된다.

In [ ]:
1 != 2

True

반면에 1과 `4/4.0`이 의미하는 1.0은 동일한 값이기에 아래 코드는 `False`로 계산된다.

In [2]:
1 != 4/4.0

False

:::{danger} `=` 와 `==` 의 차이

기호 `=` 는 `z = 1+3`처럼 변수 할당 명령문에 사용된다.
기호 왼편에는 변수가, 오른편에는 변수에 할당되는 값을 표현하는 식이 위치한다.
따라서 `z = 1+3`를 실행하면 변수 `z`는 4가 할당된다.

반면에 기호 `==`는 주어진 두 개의 값이 동일한 값인지 여부를 판단할 때 사용된다.
예를 들어 `z == 2 * 3 - 2`은 변수 `z`가 가리키는 값과 `2 * 3 - 2`가 동일한 값인지 여부를 판단하며,
두 값 모두 4를 가리키기에 최종적으로 `True`로 계산된다.
:::

**크기 비교 연산자**

크기 비교 연산은 두 개의 값이 주어졌을 때 어떤 값이 더 큰지, 작은지 등을 판단할 때 활용하며,
다음 네 가지 방식으로 표현된다.
아래 표에서 `a`와 `b`는 임의의 값을 가리킨다.

| 크기 비교 연산 | 의미 |
| :---: | :--- |
| a < b | a가 b보다 작을 때 `True`로, 아니면 `False`로 계산 |
| a <= b | a가 b보다 작거나 같을 때 `True`로, 아니면 `False`로 계산 |
| a > b | a가 b보다 클 때 `True`로, 아니면 `False`로 계산 |
| a >= b | a가 b보다 크거나 같을 때 `True`로, 아니면 `False`로 계산 |

숫자와 함께 사용되는 크기 비교연산은 일반적으로 알려진 방식과 동일하게 작동한다.
예를 들어 3이 4보다 크기 않기 때문에 아래 코드는 `False`로 계산된다.

In [7]:
3 > 4

False

반면에 아래 두 코드 모두 `True`로 계산됨을 바로 알 수 있다.

In [8]:
3 >= 4 - 1

True

In [3]:
3 >= 4 - 2

True

연산자 `<` 와 연산자 `<=` 또한 두 개의 숫자를 비교할 때 상식적으로 작동한다.
예를 들어 아래 코드는 `False`로 계산된다.
이유는 `3/2 + 1.2`는 2.7로 계산되고 `3/2`는 1.5로 계산되는데
2.7은 1.5보다 작지 않기 때문이다.

In [4]:
3/2 + 1.2 < 3/2

False

반면에 아래 두 코드는 `True`로 계산됨을 바로 알 수 있다.

In [ ]:
2.3 < 1.8 + 3.2

True

In [5]:
2.3 <= 1.8 + 3.2

True

**문자열 비교 연산**

두 값의 비교 연산은 정수, 부동소수점이 아닌 다른 종류의 값들에 대해서도 가능하다.
예를 들어 두 문자열의 크기비교는 사전식 알파벳 순서를 사용한다.

In [2]:
'apple' < 'Hello, World!'

False

In [3]:
'Hello, World!' < ' hello'

False

특히 대문자가 소문자보다 작음에 주의한다.

In [ ]:
'A' <= 'a'

True

빈 문자열은 다른 문자열보다 항상 작다.

In [4]:
'' < 'a'

True

### 논리식

등식, 부등식은 부울값으로 계산된다.
등식, 부등식처럼 부울값으로 계산되는 수식을 **논리식**이라 부른다.

### `+`와 `*` 연산자

**리스트 연산: 이어붙이기와 복제**

`+`, `*` 등이 문자열, 리스트 등에 대해서도 특별한 방식으로 활용된다.
설명을 위해 아래 두 리스트를 이용한다.

In [13]:
first_languages = ['파이썬', 'C', '자바']
second_languages = ['C++', 'C#', '자바스크립트', 'Node.js']

- 리스트와 `+` 연산자: 두 개의 리스트를 이어붙여 하나의 리스트로 계산

In [14]:
languages = first_languages + second_languages
languages

['파이썬', 'C', '자바', 'C++', 'C#', '자바스크립트', 'Node.js']

- 리스트와 `*` 연산자: 주어진 리스트를 지정된 정수만큼 복제해서 이어붙인 리스트로 계산

In [15]:
languages * 2

['파이썬',
 'C',
 '자바',
 'C++',
 'C#',
 '자바스크립트',
 'Node.js',
 '파이썬',
 'C',
 '자바',
 'C++',
 'C#',
 '자바스크립트',
 'Node.js']

**문자열 연산: 이어붙이기와 복제**

문자열에 대해서도 유사한 방식으로 `+`, `*` 연산자가 기능한다.

In [16]:
first = '파이썬, '
second = '안녕!'

- 문자열과 `+` 연산자: 두 개의 문자열을 그대로 이어붙인 문자열로 계산

In [17]:
greetings = first + second
greetings

'파이썬, 안녕!'

- 문자열과 `*` 연산자: 주어진 문자열을 지정된 정수만큼 복제해서 이어붙인 문자열로 계산

In [18]:
greetings * 3

'파이썬, 안녕!파이썬, 안녕!파이썬, 안녕!'

### `in` 연산자

**리스트 `in` 연산자**

리스트에 항목으로 포함되어 있는지 여부는 `in` 연산자를 이용하며 결과는
부울값으로 계산된다.
예를 들어 파이썬은 `first_languages`가 가리키는 리스트에 포함되어 있고,
자바는 `second_languages`가 가리키는 리스트에 포함되어 있지 않다.

In [19]:
'파이썬' in first_languages

True

In [20]:
'자바' in second_languages

False

**문자열 `in` 연산자**

문자열에 대해서도 `in` 연산자를 사용할 수 있다.
아래 코드는  다양한 예제를 통해 `greetings`가 가리키는 문자열에 포함된
지정된 기호와 문장의 포함여부를 판정해 준다.

In [21]:
'!' in greetings

True

In [22]:
'?' in greetings

False

In [23]:
'파' in greetings

True

In [24]:
'파이썬' in greetings

True

In [25]:
', ' in greetings

True

In [26]:
'파이썬 안녕' in greetings

False

### 인덱싱

**리스트 인덱싱**

리스트에 포함된 각각의 항목은 고유의 **인덱스**<font size='2'>index</font>를 갖는다.
인덱스는 가장 왼쪽에 위치한 항목부터 차례대로 0, 1, 2, 3 ... 로 지정된다.
그리고 인덱스를 이용하여 해당 인덱스의 항목을 확인하여 활용할 수 있는데 이를
**인덱싱**<font size='2'>indexing</font>이라 부른다.

설명을 위해 `name_list`가 가리키는 리스트를 활용한다.

In [27]:
print(name_list)

['김강현', '황현', '남세원', '최흥선', '김현선', '함중아']

가장 왼쪽에 위치한 항목, 즉 0번 인덱스의 항목을 확인하는 방법은 다음과 같다.

In [28]:
print(name_list[0])

김강현

왼쪽에서 세번째 항목은 인덱스가 2이기에 다음과 같이 확인한다.

In [29]:
print(name_list[2])

남세원

인덱스는 음의 정수로도 표현할 수 있다.
맨 오른쪽에 위치한 항목부터 왼쪽으로 이동하면서 차례대로 -1, -2, -3 등의 음의 인덱스를 갖는다.
따라서 가장 오른쪽에 위치한, 즉 리스트의 맨 끝에 위치한 항목은 다음과 같다.

In [30]:
print(name_list[-1])

함중아

변수 `one2five`처럼 숫자로 구성된 리스트를 많이 활용한다.
예를 들어 변수 `scores`는 세 개의 시험점수로 구성된 리스트를 할당받는다.

In [31]:
scores = [92, 87, 100]

변수 `scores`가 시험점수로 구성된 리스트를 가리키기에
아래 코드에서처럼 시험점수의 평균값을 인덱싱을 이용하여 계산할 수 있다.
참고로 정수의 나눗셈 결과는 항상 부동소수점으로 처리됨에 주의한다.

In [32]:
mean = (scores[0] + scores[1] + scores[2])/3
print(mean)

93.0

**문자열 인덱싱**

파이썬은 문자열을 여러 개의 문자 또는 기호로 구성된 값으로 간주한다.
따라서 리스트의 인덱스와 인덱싱 기능을 문자열에 대해서도 동일하게 적용할 수 있다.
즉, 문자열 가장 왼편에 위치한 문자 또는 기호부터 오른쪽으로 이동하면서 
차례대로 0, 1, 2 등의 인덱스를 가지며 이를 이용하여 문자열 인덱싱을 사용할 수 있다.

예를 들어 `name_list` 리스트의 첫재 항목, 즉 0번 인덱스의 값인 `김강현`을
변수 `kgh`에 할당해보자.

In [33]:
kgh = name_list[0]
print(kgh)

김강현

김강현의 성인 김은 0번 인덱스의 항목이다.

In [34]:
kgh[0]

'김'

반면에 현은 김강현 문자열의 2번 인덱스의 항목이다.

In [35]:
kgh[2]

'현'

### 연산자 우선순위

여러 종류의 연산자를 이용할 경우 연산자들 사이의 우선순위를 고려해야 
의도한 대로 계산된다.
정수와 부동소수점 관련 연산자들의 우선순위는 수학에서 배운 것과 동일하다.

괄호 안에 있는 표현식을 가장 먼저 계산한다. 

```python
2 * (3 - 1) => 2 * 2 => 4
(1 + 1) ** (5 - 2) => 2 ** (5 - 2) => 2 ** 3 => 8
```

거듭제곱이 사칙연산보다 우선순위가 높다.

```python
3 ** 2 * 2 => (3 ** 2) * 2 => 9 * 2 => 18
3 * 2 ** 2 => 3 * (2 ** 2) => 3 * 4 => 12
```

곱셈과 나눗셈이 덧셈과 뺄셈보다 우선순위가 높다.

```python
2 * 3 - 1 => (2 * 3) - 1 => 6 - 1 => 5
6 + 4 / 2 => 6 + (4 / 2) => 6 + 2.0 => 8.0
```

곱셈과 나눗셈은 서로 우선순위가 같다.
덧셈과 뺄쎔도 서로 우선순위가 같다.
같은 우선순위를 갖는 사칙 연산자가 연속해서 사용되면 왼쪽에 위치한 연산부터 먼저 실행된다.

```python
60 / 2 * 3 => (60 / 2) * 3 => 30.0 * 3 => 90.0
```

만약에 오른쪽에 위치한 곱셈을 먼저 실행하면 다른 결과가 나온다.

```python
60 / (2 * 3) => 60 / 6 => 10.0
```

거듭제곱이 연속해서 나오면 오른쪽 거듭제곱부터 실행된다.

```python
2 ** 3 ** 2 => 2 ** (3 ** 2) => 2 ** 9 => 512
```

만약에 왼쪽부터 거듭제곱을 계산하면 다른 결과가 나온다.

```python
(2 ** 3) ** 2 => 8 ** 2 => 64
```

**연산 결과 저장**

연산의 결과값 또한 변수에 할당하여 필요에 따라 활용된다.
예를 들어, 아래 코드는 1 더하기 2를 `onePtwo` 변수에 할당한다.
그런 다음 그 값을 2로 나눈 몫을 `whether_even` 변수에 할당한다.

In [ ]:
onePtwo = 1 + 2
whether_even = onePtwo % 2 == 0

홀수

## 예제

**예제 1**

먼저 아래와 같이 변수를 정의한다.

In [51]:
number = 17

언급된 값을 표현하는 수식을 `number` 변수를 이용하여 표현한 다음에 실행하여라.

(1) number 더하기 2

답:

In [52]:
number + 2

19

(2) number 빼기 2.0

답:

In [53]:
number - 2.0

15.0

(3) number 나누기 7

답:

In [54]:
number / 7

2.4285714285714284

(4) number를 7로 나눴을 때의 몫

답:

In [55]:
number // 7

2

(5) number를 7로 나눴을 때의 나머지

답:

In [56]:
number % 7

3

(6) number의 세제곱을 (2 + 3)으로 나누기

답:

In [57]:
number**3 / (2 + 3)

982.6

그런데 아래와 같이 하면 다른, 따라서 틀린 값이 나온다.

In [58]:
number**3 / 2 + 3

2459.5

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높아서 위 수식은 아래 수식처럼 계산되기 때문이다.

In [59]:
(number**3 / 2) + 3

2459.5

**예제 2**

아래 코드를 실행했을 때 부동소수점 `27.1`이 어떻게 이해되는지를 설명하라.

In [38]:
if 27.1:
    print("참인 경우라서 실행됨!")

참인 경우라서 실행됨!

답:

파이썬에서 0은 `False`로, 다른 값은 `True`로 간주된다.
이런 의미로 `if 27.1`에 사용된 `27.1`은 부동소수점이면서 0이 아니기에 
`True`로 간주되어 조건문의 본문에 포함된 `print()` 함수가 실행된다.

**예제 3**

아래 내용의 논리식을 할당받는 변수 `p1`을 정의한 후에 `p1`에 할당된 진리값을 확인한다.

> 3과 4가 다른지 여부 판단

답:

아래 코드는 두 값이 다른지 여부는 `!=` 연산자를 이용하여 표현한다.

In [39]:
p1 = 3 != 4
print(p1)

True

**예제 4**

아래 내용의 논리식을 할당받는 변수 `p2`를 정의한 후에 `p2`에 할당된 진리값을 확인한다.

> "hello"와 "hi"가 같은지 여부 판단

답:

아래 코드는 두 값이 동일한지 여부는 `==` 연산자를 이용하여 표현한다.

In [40]:
p2 = "hello" == "hi"
print(p2)

False

**예제 5**

15, 28이 각각 짝수인지 또는 홀수인지를 판별하는 코드를 작성한다.
출력된 결과는 아래와 같은 형식이어야 한다.

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

힌트: 짝수는 2로 나눴을 때 나머지가 0이다.

답:

15가 짝수인지 여부는 `15 % 2 == 0` 가 `True`로 계산되는지로 확인한다.

In [41]:
print("15는 짝수인가요?", 15 % 2 == 0)
print("28는 짝수인가요?", 28 % 2 == 0)

15는 짝수인가요? False
28는 짝수인가요? True

변수를 사용하면 좀 더 편리할 수도 있다.

In [42]:
even15 = 15 % 2 == 0
even28 = 28 % 2 == 0

print("15는 짝수인가요?", even15)
print("28는 짝수인가요?", even28)

15는 짝수인가요? False
28는 짝수인가요? True

**예제 6**

변수 `second_languages`는 아래 리스트를 가리킨다.

In [43]:
second_languages

['C++', 'C#', '자바스크립트', 'Node.js']

변수 `lang`가 가리키는 문자열이 `second_languages`가 가리키는
리스트  포함되어 있지 않은 경우에만 언급된 언어가 
오른편 끝에 추가된 리스트를 화면에 출력하는 코드를 작성한다.

힌트: `not in` 연산자 활용

답:

`if ... ` 명령문을 이용한다.
이때 `if` 다음에 오는 진리값을 표현하는 식으로 리스트를 대상으로 항목이 아닌경우에 
`True`로 계산되는 `not in` 연산자를 이용한다.
또한 리스트의 `+` 연산을 이용한다.

- 예제: 새로운 언어를 사용하는 경우

In [44]:
lang = '파이썬'

if lang not in second_languages:
    print(second_languages + [lang])

['C++', 'C#', '자바스크립트', 'Node.js', '파이썬']

- 예제: 이미 포함된 언어를 사용하는 경우엔 아무 것도 하지 않음.

In [45]:
lang = 'Node.js'

if lang not in second_languages:
    print(second_languages + [lang])

**예제 7**

변수 `greetings`가 다음과 같이 정의된다.

In [46]:
greetings = '파이썬, 안녕!'

(1) 문자열에 포함된 쉼표 기호 `,`를 확인하는 인덱싱을 표현하는 수식을 정의하라.

답:

In [47]:
greetings[3]

','

(2) 문자열에 포함된 느낌표 기호 `!`을 확인하는 인덱싱을 표현하는 수식을 정의하라.

답:

In [48]:
greetings[-1]

'!'

**예제 8**

우유 가격은 820원이고, 아이스크림 가격은 1500원이다.
아이스크림은 3개 이상 구입하면 5% 할인해준다.
우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 다양한 변수를 활용하여 계산하는 코드를 작성한다.

힌트: 할인율이 5%이면 할인을 적용할 때 구입 가격에 (1 - 0.05)를 곱한다.

답:

우유 가격과 개수, 아이스크림 가격과 개수, 할인율을 변수로 활용해서
간단한 연산을 실행한다.

In [49]:
milk_price = 820
icecream_price = 1500
discount = 0.05  # 아이스크림 3개 이상 구입시 할인율

milk = 2
icecream = 3

할인을 받을 수 있는 경우와 그렇지 않은 경우를
구분해서 코드를 실행할 수 있다.
이를 위해 `if ... else ...` 조건문을 이용한다.
최종 가격은 정수로 지정한다.
이유는 할인을 적용하면 즉, 할인율을 곱하면 부동소수점으로 계산되기 때문이다.

In [50]:
if icecream < 3:
    total_price = milk_price * milk + icecream_price * icecream                # 할인 없음
else:
    total_price = milk_price * milk + icecream_price * icecream * (1-discount) # 할인 적용
    
print("우유", milk, "개", "아이스크림", icecream, "개", "가격:", int(total_price), "원")

우유 2 개 아이스크림 3 개 가격: 5915 원

**예제 9**

연이자 5%인 정기예금에 1천만원을 10년간 은행에 맡겼을 때
10년 후에 수령할 금액을 계산하는 코드를 다양한 변수를 활용하여 구현한다.
단, 다음 형식으로 출력하라.

> 10년 후 받을 원금 + 이자는 OOO 원입니다.

원리합계 계산은 아래 식을 따른다.

> 원리합계 ＝ 원금 *  (1 ＋ 연금리 * 기간)

힌트:

아래 변수를 활용해서 원리합계 수식을 간단하게 구현할 수 있다.

- principal = 원금
- rate = 연이자율
- period = 저축기간(년)
- savings = 원리합계

답:

In [51]:
principal = 10000000
rate = 0.05
period = 10

savings = principal * (1 + rate * period)

print("10년 후 받는 원금 + 이자는", savings, "원입니다.")

10년 후 받는 원금 + 이자는 15000000.0 원입니다.

## 연습문제

1. [(연습) 값과 연산](https://colab.research.google.com/github/codingalzi/42H/blob/master/practices/practice-values.ipynb)에 포함된 문제들을 풀어보세요.