# (연습) 파일

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

**기본 설정**

파일 저장 경로와 파일 서버 주소를 지정에 필요한 기본 설정을 지정한다.

In [1]:
from pathlib import Path
from urllib.request import urlretrieve

데이터가 저장된 텍스트 파일 서버 주소는 다음과 같다.

In [2]:
base_url = "https://raw.githubusercontent.com/codingalzi/42H/master/jupyter-book/data/"

현재 작업 디렉토리의 `data` 하위 디렉토리에 파일을 다운로드해서 저장할 준비를 한다.

In [3]:
# 저장위치 지정과 생성
data_path = Path() / "data"
data_path.mkdir(parents=True, exist_ok=True)

`myWget()` 함수는 파일 서버에서 지정된 파일을 동일한 파일명으로 지정된 디렉토리에 저장한다.

In [4]:
def myWget(filePath):
    # 다운로드 대상 파일 경로
    file_url = base_url + filePath

    # 저장 경로와 파일명
    target_path = data_path / filePath

    return urlretrieve(file_url, target_path)[0]

**문제 1**

`shopA.txt` 파일은 쇼핑몰A에서 판매하는 상품의 가격을 담고 있음을 확인해보자.
먼저 해당 파일을 다운로드 한다.

In [5]:
myWget("shopA.txt")

PosixPath('data/shopA.txt')

(1) 파일 전체 내용을 출력하는 코드를 작성하라.

힌트: `with-as` 명령문, `open()` 함수, `readlines()` 또는 `read()` 파일 메서드.

답 1:

In [6]:
with open(data_path / 'shopA.txt', encoding='utf-8') as f:
    for line in f:
        print(line.strip())

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오렌지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

답 2:

In [7]:
with open(data_path / 'shopA.txt', encoding='utf-8') as f:
    lines = f.read()
    print(lines)

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오렌지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

답 3:

In [8]:
with open(data_path / 'shopA.txt', encoding='utf-8') as f:
    lines = f.readlines()
    for line in lines:
        print(line.strip())

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오렌지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

(2) `shopA.txt` 파일의 내용을 확인하면 '오레ㄴ지'가 '오렌지'로 잘못 적혀 있다.
오타를 수정하여라.

답:

먼저 파일 내용을 하나의 문자열로 읽어 온다.

In [9]:
with open(data_path / 'shopA.txt', encoding='utf-8') as f:
    shoping_list = f.read()

`replace()` 문자열 메서드를 활용하여 오타를 수정한다.

In [10]:
shoping_list_corrected = shoping_list.replace('오레ㄴ지', '오렌지')
print(shoping_list_corrected)

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오렌지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

수정된 내용을 저장한다.

In [11]:
with open(data_path / 'shopA.txt', encoding='utf-8', mode='w') as f:
    f.write(shoping_list_corrected)

수정된 파일 내용을 읽어보면 오타가 수정되었음을 확인할 수 있다.

In [12]:
with open(data_path / 'shopA.txt', encoding='utf-8') as f:
    for line in f:
        print(line.strip())

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오렌지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

(3) 상품명과 가격을 키-값의 쌍으로 갖는 아래 모양의 사전을 
반환하는 `shopping()` 함수를 정의하라.

```
{'우유': 2540,
 '계란': 7480,
 '생수': 980,
 '짜장라면': 3220,
 '두부': 1450,
 '콩나물': 1680,
 '김': 5480,
 '닭고기': 5980,
 '식빵': 2480,
 '바나나': 4980,
 '오렌지': 990,
 '카레': 2480,
 '만두': 6980,
 '어묵': 7980,
 '참치': 11880,
 '김치': 7980,
 '간장': 10800}
```

답:

파일을 열어 한 줄씩 읽을 때 첫째, 둘째 줄을 무시해야 한다.

In [13]:
def shopping(shop_file):
    with open(data_path / shop_file, encoding='utf-8') as f:
        items_dict = dict()
        for line in f:
            if line.strip().startswith('#') or line.strip() == '':
                continue
            item, price = line.strip().split()
            items_dict[item] = int(price[:-1])

    return items_dict

In [14]:
shopping("shopA.txt")

{'우유': 2540,
 '계란': 7480,
 '생수': 980,
 '짜장라면': 3220,
 '두부': 1450,
 '콩나물': 1680,
 '김': 5480,
 '닭고기': 5980,
 '식빵': 2480,
 '바나나': 4980,
 '오렌지': 990,
 '카레': 2480,
 '만두': 6980,
 '어묵': 7980,
 '참치': 11880,
 '김치': 7980,
 '간장': 10800}

(4) 쇼핑 리스트와 상품을 인자로 지정하면 상품의 가격을 반환하는 함수 `item_price()` 를 구현하라.

힌트: `shopping()` 함수를 이용한다.

답:

In [15]:
def item_price(shop_file, item):
    items_dict = shopping(shop_file)
    return items_dict[item]

In [16]:
print(item_price("shopA.txt", '김치'))

7980

(5) `shopB.txt` 파일은 쇼핑몰B에서 판매하는 상품의 가격을 담고 있으며,
`shopA.txt` 파일과 동일한 방식으로 다운로드할 수 있다.

In [17]:
myWget("shopB.txt")

PosixPath('data/shopB.txt')

In [18]:
shopping("shopB.txt")

{'우유': 2270,
 '계란': 7520,
 '생수': 1010,
 '짜장라면': 3210,
 '두부': 1150,
 '콩나물': 1980,
 '김': 5290,
 '닭고기': 6000,
 '식빵': 1990,
 '바나나': 4990,
 '오렌지': 1050,
 '카레': 2400,
 '만두': 7400,
 '어묵': 6980,
 '참치': 11580,
 '김치': 8480,
 '간장': 9900}

사용자가 상품을 입력하면, 쇼핑몰A와 쇼핑몰B 중 어느 쇼핑몰에서 구입하는 것이 얼마나 저렴한지를 보여주는
`price_comparison()` 함수를 작성하라.

답:

In [19]:
def price_comparison(item):
    price_diff = item_price("shopA.txt", item) -item_price("shopB.txt", item)
    return abs(price_diff)

In [20]:
print(f"두 쇼핑몰에서의 김치 가격의 차이는 {price_comparison('김치')}원이다.")

두 쇼핑몰에서의 김치 가격의 차이는 500원이다.

실제로 두 쇼핑몰에서의 김치 가격은 다음과 같다.

In [21]:
item_price("shopA.txt", '김치')

7980

In [22]:
item_price("shopB.txt", '김치')

8480

**문제 2**

두 사람의 짧은 대화가 다음과 같다.

In [23]:
dialogues = "남자 - 이게 맞나?\n여자 - 글쎄... 모르겠는데. 어떻게 하지?\n(잠시 쉰다.)\n남자 - 아! 생각해볼께."

(1) `dialogues` 변수에 할당된 문자열을 `data` 하위폴더에 `dialogues.txt` 파일로 저장한 다음에
저장 내용을 확인하여라.

답:

`data_path` 경로를 함께 이용하여 `./data/dialogues.txt` 파일로 저장한다.

In [24]:
with open(data_path / 'dialogues.txt', 'w') as file:
    file.write(dialogues)

내용을 확인하면 다음과 같다.

In [25]:
with open(data_path / 'dialogues.txt', 'r') as file:
    print(file.read())

남자 - 이게 맞나?
여자 - 글쎄... 모르겠는데. 어떻게 하지?
(잠시 쉰다.)
남자 - 아! 생각해볼께.

(2) 두 사람의 대화를 아래 형식으로 변환해서 출력하는 코드를 작성하여라.

```
남자: 이게 맞나?
여자: 글쎄... 모르겠는데. 어떻게 하지?
남자: 아! 생각해볼께.
```

힌트: `lstrip()`, `rstrip()` 문자열 메서드 활용

답:

다음 내용을 처리해야 한다.

- 하이픈 기호 `-`를 콜론 기호 `:`로 대체. `lstrip()`, `rstrip()` 메서드를 적절하게 활용.
- 대사가 아닌 내용 무시(삭제): 하이픈 기준으로 쪼갤 수 없을 때.

`split()` 문자열 메서가 두 개의 인자와 함게 호출될 때 사용되는 둘째 인자는 
첫째 인자를 기준으로 몇 번 쪼갤지를 결정한다.
아래 코드에서는 하이픈 기준으로 한 번만 쪼갠다.
이유는 대사에도 하이픈이 사용될 수 있기 때문이다.

In [26]:
with open(data_path / 'dialogues.txt') as f:
    for line in f:
        try:
            role, words = line.split('-',1)
            role = role.rstrip()
            words = words.lstrip()
            print(role+': '+words, end='')
        except:
            pass

남자: 이게 맞나?
여자: 글쎄... 모르겠는데. 어떻게 하지?
남자: 아! 생각해볼께.

(3) 남자와 여자의 대사를 각각 `dialogues_man.txt`, `dialogue_woman.txt` 파일로 
`data` 하위폴더에 저장하는 코드를 작성한 다음 각각의 파일 내용을 확인하여라.

답:

`with ... as ...` 형식으로 여러 개의 파일을 동시에 열 수 있다.

```python
with open(fileA, ...) as A, open(fileB, ...) as B, open(fileC, ...) as C:
    ...
```

파이썬 명령문은 한 줄에 하나씩 작성하는 게 원칙이지만 
여러 개의 파일을 동시에 여는 명령문이 너무 긴 경우에는 '&#8361;' (또는 '&#92;') 기호를 줄 끝에 추가한 다음에
줄바꿈을 할 수 있다.

In [27]:
with open(data_path / 'dialogues.txt') as data, \
    open(data_path / 'dialogues_man.txt','w') as man, \
    open(data_path / 'dialogues_woman.txt','w') as woman:

    for line in data:
        try:
            role, words = line.split('-', 1)
            role = role.rstrip()
            words = words.lstrip()
            if role == '남자':
                man.write(words)
            if role == '여자':
                woman.write(words)
        except:
            pass

- 남자 대사 확인

In [28]:
with open(data_path / "dialogues_man.txt") as man:
    print(man.read())

이게 맞나?
아! 생각해볼께.

- 여자 대사 확인

In [29]:
with open(data_path / "dialogues_woman.txt") as woman:
    print(woman.read())

글쎄... 모르겠는데. 어떻게 하지?

**문제 3**

지정된 `base_url`에서 아래 파일을 다운로드한다.

In [30]:
file_name = 'en-ko.csv'

myWget(file_name)

PosixPath('data/en-ko.csv')

다운로드한 파일의 내용은 다음과 같다.

```
# 단어,뜻
a,하나의
abandon,버리다
able,할 수 있는
aboard,배로
...
you,당신
young,젊은
zebra,얼룩말
zone,대
zoo,동물원
```

(1) 단어장으로 사용할 수 있는 `words_dict` 변수를 선언하여라.
즉 키(key)는 영단어, 값(value)는 뜻으로 구성된 사전 자료형을 가리켜야 한다.

답:

다음 사항에 유의한다.

- 첫째 줄 무시: `readlines()` 메서드가 반환한 리스트의 0번 인덱스 항목을 무시한다.
- 쉼표를 기준으로 한 번 쪼개서 영단어와 뜻으로 구분한다.

In [31]:
with open(data_path / 'en-ko.csv') as enko:
    words_list = enko.readlines()
    
    words_dict = dict()
    for i in range(1, len(words_list)):
        eng, kor = words_list[i].split(',', 1)
        eng = eng.strip()
        kor = kor.strip()
        
        words_dict[eng] = kor

(2) 단언장에 포함된 단어가 총 3,000개라는 사실을 확인하여라.

답:

In [32]:
len(words_dict)

3000

(3) `abandon`, `zoo` 단어의 뜻을 확인한다.

답:

In [33]:
words_dict['abandon']

'버리다'

In [34]:
words_dict['zoo']

'동물원'